<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  {{> header}}
  <p>Procure por um ativo</p>
  <form action="">
    <input type="text" placeholder="Código do ativo">
    <button>Buscar</button>
  </form>

  <h3></h3>
  <p id="symbol"></p>
  <p id="price"></p>
</body>
  <script src='js/app.js'></script>

</html>